// wraps

.story {
    width: 100%;
    margin: auto;
    max-width: 1600px;
        a {
          color: #418cff;
            &:hover{

                color: black;
            }
        }
}


.headline   {
    @include outer-container (50%);
    margin-top: 10%;
    text-align:center;
    @media(max-width: $screen-mobile){
    @include outer-container (90%);
    margin: 22% 25px 5% 25px;
    }
}


.side-caption {
  color: #676767;
  font-weight: 300;
  font-size: .85em;
  text-align: left;
  margin: 0 auto;
  @media(max-width: $screen-mobile){
  padding: 0 10px 0 5px;
  }
}

.lead-photo   {
    @include outer-container (70%);
    margin-top: 3%;
    @media(max-width: $screen-mobile){
    @include outer-container (100%);
    margin: 5% 0 5% 0;
    }
}

.divider-top {
  border-bottom: 15px solid #000;
  margin: 30px 0 30px 0;
  padding: 15px 0 0 0;

}

.divider-bottom {
  border-bottom: 1px solid #979797;
  margin: 5px 0 30px 0;
  padding: 15px;
}

.callout-box {
  text-align: center;
  height: auto;
  width: 100%;
  padding: 3%;
  height: auto;
  margin: 35px auto;
  width: 100%;
  border-radius: 3px;
  border: 3px black solid;
}

.callout-box h2 {
    font-family: 'mallory';
    font-size: 1.17em;
    text-align: center;
}


.container {
    @include media(min-width $screen-mobile){
      @include outer-container(55%);
      }
    @include media(max-width $screen-mobile){
      @include outer-container(95%);
      }
    @include media(min-width $screen-larger){
      @include outer-container(40%);
      }
      ul {
        list-style-position: inside;
        margin: 0;
        font-family: 'Crimson-Text';
        padding: 10px 10px 10px 20px;
        line-height: 30px;
        text-align: left;
        @include media(min-width $screen-mobile){
            font-size: 1.3em;
            line-height: 30px; 
        }
        @include media(max-width $screen-mobile){
            font-size: 1.47em;
            line-height: 30px;  
        }

      }
      ol {
        list-style-position: inside;
        margin: 0;
        font-family: 'Crimson-Text';
        padding: 10px 10px 10px 20px;
        line-height: 30px;
        font-size: 1.25em;
        text-align: left;
          @include media(max-width $screen-mobile){
          font-size: 1.5em;
          line-height: 30px;
      }

      }
}

.container ul li ul li {
  font-size: .75em;
          @include media(max-width $screen-mobile){
          font-size: .65em;
      }
}


// text

.container p{
  font-family: 'Crimson-Text'; 
  text-align: left;
  margin: 25px auto;
  color: #111;
  
      @include media(min-width $screen-mobile){
          font-size: 1.3em;
          line-height: 30px; 
      }
      @include media(max-width $screen-mobile){
          font-size: 1.5em;
          line-height: 30px;  
      }
}

// span classes

.highlight {
    background-color: #74e6db;
    padding: .15em;
}

.mallory {
    font-family: "Mallory";
    font-weight: 600;
    line-height: 1.5em;
      @include media(min-width $screen-mobile){
          font-size: .95em;
          line-height: 30px; 
      }
      @include media(max-width $screen-mobile){
          font-size: .9em;
          line-height: 30px;  
      }
}

.key-term {
    background-color: white;
    color: black;
    padding: .4em;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Mallory";
    font-weight: 800;
      @include media(min-width $screen-mobile){
          font-size: .9em;
          line-height: -3%;
      }
      @include media(max-width $screen-mobile){
          font-size: 1em;
          line-height: 30px;  
      }
}

// divider

hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 3em 0 3em 0;
}
